@import url('https://fonts.googleapis.com/css2?family=Milonga&family=Rampart+One&display=swap');

* {
  margin: 0px;
}

html {
  scroll-behavior:smooth;
  background-color: rgba(255, 111, 0, 0.818);
}

/* TABLA */

.contenedortabla{
  display: flex;
  justify-content: center;
  padding-top: 40px;
  width: 80%;
}

.tabla {
  border-collapse:collapse;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  width: 90%;
  justify-items: center;

}

th{
  border: 3px solid rgb(184, 74, 11);
  background-color: #dcc425;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 10em;
  text-align: center;
}

td {
  border: 3px solid rgb(184, 74, 11);
  background-color: rgb(235, 230, 171);
  width:10em;
  text-align: center;
  height: 30px;
}

.imc{
  padding: 80px;
}

@media (max-width: 900px) {

  .contenedortabla{
    width: 100%;
  }

  .tabla{
    font-size: 3vw;
  }

}
